html, body{
    margin: 0;
}

@font-face {
    font-family: "Gilroy";
    src: local("Gilroy"), url("../fonts/Gilroy/Gilroy-Light.otf") format("truetype");
}

.orange {
    background: #F76600;
    border-radius: 5px;
    color: #FFFFFF;
}

.album {
    background: #032F5B;
}

.inp{
    background: #ACC1D8;
}

.inp::placeholder { 
    color: #FFFFFF;
    opacity: 1;
}

.bro {
    background: #CDDAE7;
    border-radius: 40px;
    margin-bottom: 10px;
}

.album img{
    width: 424px;
    height: 382px;
}

.articles {
    background: #FDE0CC;
    border-radius: 20px;
}

.reminders {
    background: #CDDAE7;
    border-radius: 20px;
}

.management {
    background: #FDE0CC;
    border-radius: 20px;
}

.title {
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    color: #FFFFFF;
    text-align: center;
}

.desc {
    font-style: normal;
    font-weight: 200;
    color: #FFFFFF;
    text-align: center;
}

.footer {
    background: #032F5B;
}

.foot-item {
    color: #FFFFFF;
}

/* tempHome */
.card-deet {
    background: #FDE0CC;
    box-shadow: 0px 0px 11.3569px rgba(0, 0, 0, 0.2);
    border-radius: 9.08552px;
}

.btn-plain {
    background-color: white;
    color: #F76600;
    border-color: #F76600;
    margin-right: 8px;
}

.btn-plain:hover, 
.btn-plain:visited,
.btn-plain:focus {
    text-decoration: none !important;
    background-color: #FDE0CC;
    color: white; 
}

.btn-flat {
    background-color: #F76600;
    color: white;
    height: 50px;
    border-radius: 8px;
    Padding: 6px, 20px, 6px, 20px;
    border-color: #F76600;
}

.btn-flat:hover, 
.btn-flat:visited,
.btn-flat:focus{
    text-decoration: none !important;
    background-color: #f4b686;
    color: white; 
}

/*Signup page*/
.card {
    background: #FFFFFF;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.sign-in {
    color: #F76600;
}

/*Login page*/
.login {
    color: #000000;
}

/* Sidebar navigation */
.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
  
@media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
}
  
.sidebar-sticky {
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
  
.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}
  
.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}
  
.sidebar .nav-link.active {
    color: #2470dc;
}
  
.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}
  
.sidebar-heading {
    font-size: .75rem;
}
  
